# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5a6519dcec44a744aa85f324890a1e088ee45eb54f6b058fe86beed94cb5de822fc5f818b4ef281b49c95fd1058603f07d5c7871bc8b0cd937b359e2dea9d357

test:
  secret_key_base: a1c55e75541456ed5ee4010ee275ab0b1e5cd8eb0db1aeb90f1b0062f476a2501fb9e72880cf16927b5aa46513ee2e21e3caa87479154b807abc7e28b8a33f1f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
